# Configurações do Banco de Dados
DATABASE_URL=mysql+mysqlconnector://root:root@localhost:3306/open_boxe

# Chave secreta para JWT (Mude em produção!)
SECRET_KEY=sua-chave-secreta-aqui-mude-em-producao

# Configurações do Servidor
HOST=0.0.0.0
PORT=8000